
.container {
	display: flex;
  flex-direction: column;
  margin-top: 91px;
  padding-top: 16px;
  width: 100%;
}

footer {
  background: #323330;
  margin-top: 15px;
  min-height: 83px;
  padding: 10px 55px;
}

footer .link {
  padding-top: 5px;
}

footer .link,
footer .copyright {
  color: #FFF;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

footer a {
  text-decoration: none;
  color: #FFF;
}

footer a:hover {
  color: #f7df1e;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  background: #FFF;
  margin: 0;
  padding: 10px 55px;
  height: 55px;
  width: calc(100% - 110px);
  z-index: 1;
}

.name {
  display: flex;
  flex-direction: column;
  order: 0;
  width: 83px;
}

.name .name-first {
  font-size: 2em;
  letter-spacing: 0.2em;
}

.name .name-last {
  border-top: 1px solid #D3D3;
  letter-spacing: 0.16em;
  color: #D3D3;
}

.intro a {
  width: 183px;
}

.intro p {
  letter-spacing: 1px;
  line-height: 1.75rem;
  font-size: 1.25rem;
}

.intro .subtitle {
  color: #D3D3;
  font-size: 0.85rem;
  transform: translateY(-17px);
}

.intro .contact {
  width: 150px;
  background: #f7df1e;
  color: #323330;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 1rem;
}

.intro .contact:hover {
  background: #323330;
  color: #f7df1e;
  cursor: pointer;
}

.current-stack {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.current-stack,
.intro {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
  z-index: 0;
}

.current-stack .infrastructure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.current-stack .front-back-end {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 60%;
}

.infrastructure h2 {
  width: 100%;
}

.infrastructure h2,
.front-back-end h2 {
  color: #CCC;
}

.frontend .frameworks {
  display: flex;
  flex-direction: row;
}

.frontend {
  display: flex;
  flex-direction: column;
}

.frontend .frameworks .icon-container .fas {
  transform: translateY(-11px);
}

.infrastructure .icon-container .icon-title,
.backend .icon-container .icon-title {
  text-align: center;
}

.icon-title {
  color: #D3D3;
  text-transform: uppercase;
  padding-top: 3px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55px;
  max-width: 110px;
  padding-left: 15px;
  padding-right: 15px;
}

/*TODO: make breakpoints real*/


@media screen and (min-width: 1024px) {
  .intro p {
    width: 60%;
  }
}

@media screen and (max-width: 1023px) {
  .intro p {
    width: 100%;
  }

  .current-stack .infrastructure,
  .current-stack .front-back-end {
    width: unset;
  }
}

@media screen and (min-width: 385px) {}
@media screen and (min-width: 592px) {}



@media screen and (max-width: 765px) {
	.intro {
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 55px;
  }

  .intro p {
    width: 100%;
  }

  .current-stack {
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 55px;
  }

  .current-stack h1 {
    font-size: 1.85rem;
  }

  .current-stack .infrastructure .icon-container {
    padding-bottom: 10px;
  }

  .current-stack .front-back-end {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: none;
  }
}

/********/
* {
  font-family: 'Roboto', sans-serif;
  color: #323330;
}

html,
body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
} 

h1,
h2 {
  text-transform: uppercase;
  color: #323330;
}

a {
  text-decoration: none;
  cursor: pointer;
}
